{% extends "base.html" %}

{% block title %}{{ section.title | default(value=config.title) }}{% endblock title %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock description%}

{% block og_title %}{{ section.title | default(value=config.title) }}{% endblock og_title %}
{% block og_description %}{{ section.description | default(value=config.description) }}{% endblock og_description %}
{% block og_url %}{{ get_url(path=section.path) }}{% endblock og_url %}

{% block twitter_title %}{{ section.title | default(value=config.title) }}{% endblock twitter_title %}
{% block twitter_description %}{{ section.description | default(value=config.description) }}{% endblock twitter_description %}
{% block twitter_url %}{{ get_url(path=section.path) }}{% endblock twitter_url %}

{% block header %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">{{ section.title }}</h2>
        {% if section.description %}<p class="subtitle is-5">{{ section.description }}</p>{% endif %}
        {% if section.content %}<div class="container"><p>{{ section.content | safe }}</p></div>{% endif %}
        <div class="container">
          <p>
            <a class="button is-primary" href="/cv_clement_dubos_resume.pdf" target="_blank" rel="noopener">
              Voir mon CV condensé (PDF)
            </a>
            <a class="button is-primary" href="/cv_clement_dubos_full.pdf" target="_blank" rel="noopener">
              Voir mon CV détaillé (PDF)
            </a>
          </p>
        </div>
        <div><strong style="color: var(--color-bg)">></strong> 2016-2017 : <strong>Doctorant en Intelligence Artificielle (Graph Neural Networks)</strong></div>
        <div><strong style="color: var(--color-bg)">></strong> 2014-2016 : <strong>Master en Traitement de l'Information et IA</strong></div>
        <div><strong style="color: var(--color-bg)">></strong> 2011-2014 : <strong>Licence EEA — Spécialité Génie Électrique et Informatique Industrielle</strong></div>
    </div>
</section>
{% endblock header %}

{% block content %}
{% set parcours = get_section(path="parcours/_index.md") %}
{% for page in parcours.pages %}

<details class="section box mb-5">
  <summary><span class="title is-5">{{ page.title }}</span></summary>
    <div class="container">
          {% if page.description %}<p class="has-text-grey">{{ page.description }}</p>{% endif %}
          <div class="content">{{ page.content | safe }}</div>
    </div>
</details>
{% endfor %}
{% endblock content %}
