{% extends "base.html" %}

{% block title %}{{ section.title | default(value=config.title) }}{% endblock title %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock description%}

{% block og_title %}{{ section.title | default(value=config.title) }}{% endblock og_title %}
{% block og_description %}{{ section.description | default(value=config.description) }}{% endblock og_description %}
{% block og_url %}{{ get_url(path=section.path) }}{% endblock og_url %}

{% block twitter_title %}{{ section.title | default(value=config.title) }}{% endblock twitter_title %}
{% block twitter_description %}{{ section.description | default(value=config.description) }}{% endblock twitter_description %}
{% block twitter_url %}{{ get_url(path=section.path) }}{% endblock twitter_url %}

{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">{{ section.title }}</h2>
        {% if section.description %}<p class="subtitle is-5 has-text-grey">{{ section.description }}</p>{% endif %}
        {% set refs = get_section(path="references/_index.md") %}
        <div class="columns is-multiline">
        {% for page in refs.pages %}
            <div class="column is-6-tablet is-4-desktop">
                <h3 class="title is-3">{{ page.title }}</h3>
                <div class="box mb-5">
                    <div class="content">{{ page.content | safe }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
