name: Deploy to Github pages

on:
  workflow_dispatch:


jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - name: build pages
        run: sphinx-build source build -b html
      - name: Archive artifact
        uses: actions/upload-pages-artifact@v1.0.7
        with:
          name: github-pages
          path: build/
          retention-days: 1
      - name: Deploy pages
        uses: actions/deploy-pages@v1
